{% extends "article/base.html" %}
{% load article_tags %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}
    <h1> {{ article.title }}</h1>
    <p class="date">
        Published {{ article.publish_time }} by {{ article.author }}
    </p>
    {{ post.body | linebreaks }}
    {#    <p>#}
    {#    use namespace called article, in this namespace, try to find path called article_share #}
    {#        by passing parameter - article.id to that path function #}
    {#        <a href="{% url "article:article_share" article.id %}">Share this post</a>#}
    {#    </p>#}


    {#here we are using Django ORM, also, Django template language doesnt support () for calling method#}
    {# with tag here allow use to assign method value to a new variable and be able to use that value until the endwith,#}
    {#avoiding calling expensive methods multiple times and protect our database#}
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment {{ total_comments | pluralize }}
        </h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                {#            record the current loop time using forloop.counter #}
                Comment {{ forloop.counter }} by {{ comment.user }}
                {{ comment.created }}
            </p>
            {{ comment.comment_content | linebreaks }}
        </div>
    {% empty %}
        <p>there are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>your comment has been added.</h2>
    {% else %}
        <h2>add a new comment</h2>

        <h2>Similar Posts</h2>
        {% for article in similar_articles %}
            <p>
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            </p>
        {% empty %}
            There are no similar articles
        {% endfor %}
        {#    donot add . here, empty action will let this form page redirect to itself #}
        <form action="" method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="add comment"></p>
        </form>
    {% endif %}

{% endblock %}