{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h2>Search</h2>
                <form method="get" action="">
                    <table>
                        {{ form | crispy }}
                        <tr>
                            <td>
                                <button class="btn btn-deep-orange" type="submit">
                                    {% csrf_token %}
                                    <p>Search</p>
                                </button>
                            </td>
                        </tr>
                    </table>
                    {% if query %}
                        <br>
                        <h3>Results</h3>
                        <br>
                        {% for result in page.object_list %}
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h2 class="card-title">{{ result.object.title }}</h2>
                                    <p class="card-text">
                                        <b>Content: </b>{{ result.object.article_content | truncatewords:30 | linebreaks }}
                                    </p>
                                    <a href="{{ result.object.get_absolute_url }}" class="btn btn-primary">Read More
                                        &rarr;</a>
                                </div>
                                <div class="card-footer text-muted">
                                    Posted on {{ result.object.publish_time }} by {{ result.object.author }}
                                </div>
                            </div>
                        {% empty %}
                            <p>No results found.</p>
                        {% endfor %}

                        {% if page.has_previous or page.has_next %}
                            <div>
                                {% if page.has_previous %}
                                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
                                Previous{% if page.has_previous %}</a>{% endif %}
                                |
                                {% if page.has_next %}
                                    <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next
                                &raquo;{% if page.has_next %}</a>{% endif %}
                            </div>
                        {% endif %}
                    {% else %}
                        {# Show some example queries to run, maybe query syntax, something else? #}
                    {% endif %}
                </form>
            </div>
            {#    end of colmd8#}


        </div>
    </div>

{% endblock %}