{% load article_tags %}
<!-- Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">We have written {% total_articles %} articles so far</h5>
        <br>
        <h5 class="card-header">Most Popular Articles</h5>
        <div class="card-body">
            <ul class="list-unstyled mb-0">
                {% show_most_popular_articles as most_comment_articles %}
                {% for article in latest_articles %}
                    <li>
                        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Latest Articles</h5>
        <div class="card-body">
            {% show_latest_articles %}
        </div>
    </div>
</div>