{% extends "base2.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <p>Shape Predict Page</p>
{% endblock %}

{% block content %}
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row">
            {#            .mat file upload form#}
            <div class="col-lg-6">
                <h2 style="color: black">Upload Your Curve Data</h2>
                <form action="" method="post" enctype="multipart/form-data">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <p>
                        <button type="submit" class="btn btn-primary" style="max-width: 300px">Upload it!</button>
                    </p>
                </form> <!-- /form -->


                <br>
            </div>
            {#            end of .mat file upload form#}
            <div class="col-lg-6">
                <div class="botui-app-container" id="hello-world" style="border: solid black">
                    <bot-ui></bot-ui>
                </div>
                <br>
                <div id="chat">
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary upload" style="max-width: 300px">predict it!</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        var botui = new BotUI('hello-world');

        $('button.upload').click(function (e) {
            var response = NaN;
            //                            AJAX**********************
            $.post('{% url "mlmodels:shape_predict" %}', {
                    {#no input#}
                },
                function (data) {
                    if (data['status'] == 'ok') {
                        response = data['response'];
                        return botui.message.bot({
                            delay: 1000,
                            loading: true,
                            content: response
                        })
                    } else {
                        return botui.message.bot({
                            delay: 1000,
                            loading: true,
                            content: "Sorry did not receive the file!"
                        })
                    }
                }); //end of post AJAX
        })

        botui.message.add({
            loading: true,
            delay: 2000,
            content: 'Hello, Welcome to predict shape score!'
        });
        //        what I add
    </script>
{% endblock %}