{% extends "base2.html" %}
{#the reason why put login.html in this file is because that this is where django auth view expects to find templates#}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="container price col-lg-12">
        <form action="{% url 'login' %}" method="post" class="form-horizontal" role="form">
            <h2 class="text-center" style="color: white">Log in</h2>
            {% if form.errors %}
                <p class="text-center" style="color: white">
                    Your username and password didn't match.
                    Please try again.
                </p>
            {% else %}
                <p class="text-center" style="color: white">Please, use the following form to log-in. If you dont have an account <a href="{% url 'register' %}">register
                    here </a></p>
                <p class="text-center" style="color: white">you can either use you email or your username</p>
            {% endif %}
            {% for field in form %}
                <div class="form-group">
                    <p class="text-center" style="color: white"><label>{{ field.label_tag }}</label></p>
                    <p class="text-center" style="color: white">{{ field }}</p>
                </div>
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}"/>
            {% csrf_token %}
            <p class="text-center">
                <button type="submit" class="btn btn-primary" style="max-width: 300px">Login</button>
            </p>
        </form> <!-- /form -->
        <p class="text-center" style="color: white"><a href="{% url 'password_reset' %}">Forget your password? Click</a></p>
        <br>
    </div> <!-- ./container -->

{% endblock %}

