{% extends "base2.html" %}
{% load crispy_forms_tags %}


{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="container price col-lg-12">
    <div class="col-md-12">
        <form action="" method="post" class="form-horizontal" role="form">
            <h2 class="text-center" style="color: white">Forgotten your password?</h2>
            <p class="text-center" style="color: white">Enter your e-mail address to obtain a new password.</p>
{#            {% for field in form %}#}
{#                <div class="form-group">#}
{#                    <p class="text-center" style="color: white"><label>{{ field.label_tag }}</label></p>#}
{#                    <p class="text-center" style="color: white">{{ field }}</p>#}
{#                </div>#}
{#            {% endfor %}#}
            {{ form | crispy }}
            {% csrf_token %}
            <p class="text-center">
                <button type="submit" class="btn btn-primary" style="max-width: 300px">Send Email</button>
            </p>
        </form> <!-- /form -->
        <br>
    </div>
    </div> <!-- ./container -->

{% endblock %}
