{% extends "base2.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="container price col-lg-12">
            <h2 class="text-center" style="color: white">Reset your password</h2>
            <p class="text-center" style="color: white">We've emailed you instructions for setting your password.</p>
            <p class="text-center" style="color: white">If you don't receive an email, please make sure you've entered the address you registered with.</p>
            <br>
    </div> <!-- ./container -->
{% endblock %}
